#.env
STRIPE_SECRET=sk_test_***
STRIPE_KEY=pk_test_***

DB_DSN=postgres://postgres:password@localhost:5432/db_name?sslmode=disable

MAIL_USERNAME=email_address
MAIL_PASSWORD=password
MAIL_FROM=email_address
MAIL_FROM_NAME=Name
MAIL_SERVER=smtp.****.***
MAIL_PORT=587
MAIL_STARTTLS=true
MAIL_SSL_TLS=false
MAIL_USE_CREDENTIALS=true
MAIL_VALIDATE_CERTS=true
MAIL_SUPPRESS_SEND=false